
* {
    box-sizing: border-box;
  }

  html, body {
    height: 150%;
    margin: 0;
    padding: 0;
  }

  /**
   * Canvas
   */

  .whiteboard {
    height: 100%;
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 3px;
    border-style: dashed;
    border-color: red red red red;
  }

  .colors {
    position:fixed;
    table-layout: fixed;
    border: 1px;
    width: 50px;
    border-style: solid;
    background-color: lightsalmon;
    border-radius: 24px;
  }

  .color {
    border-radius: 28px;
    border: 1px;
    border-style: dashed;
    border-color:grey grey grey grey;
    height: 48px;
    width: 48px;
  }

  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.magenta { background-color: magenta;}
  .color.green { background-color: green; }
  .color.cyan { background-color: cyan;}
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
  .color.white { background-color: white; }

  .colored {
    background-color: rgb(37, 39, 41);
  }

  .button {
    background-color: lightslategray;
    color: white;
    padding: 15px 13px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
  }
  #chat-window{
    position:relative;
    display:block;
    width:100%;
    height:500px;
    background: #fff;
    border-bottom: 1px solid rgb(102, 155, 204);
    margin-bottom: 20px;
    color:black;
    overflow:scroll;


  }
  #chat-app{
    display: block;
    width:100%;
    font-size:16px;
    color:black;
    margin: 10px;
    padding:20px;
    position: relative;
    top:1200px;
    border-bottom: 1px solid rgb(102, 155, 204);
    background: rgb(0, 71, 138);

  }
  input{
    z-index:1;
    width:300px;
    height:70px;
  }
  .slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor:pointer;
}

/* Mouse-over effects */
.slider:hover {
  width:200px;
  opacity: 1; /* Fully shown on mouse-over */
}